h1 {
  color: #A2C4C9;
  font-size: 60px;
  text-align: center;
  text-decoration-color: #A2C4C9;
  text-decoration-line: underline;
}

body {
  background-color: #E0EDED;
}

img {
  width: 50%;
  border: 6px solid #E0EDED;
  border-radius: 10px;
}

img:hover {
  width: 500px;
}

nav {
  list-style-type: none;
  background-color: #BDABC4;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  color: #8B3A62;
  padding: 8px;
}

li {
  display: inline;
  padding: 20px;
}

li:hover {
  background: #FDCFE5;
}

a {
  text-decoration: none;
  color: #8B3A62;
}
nav {
  list-style-type: none;
  background-color: #BDABC4;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  color: #8B3A62;
  padding: 8px;
}

li {
  display: inline;
  padding: 20px;
}

li:hover {
  background: #FDCFE5;
}

a {
  text-decoration: none;
  color: #8B3A62;
}
